h3 {
    font-size: 20px;
}

.contact {
    width: 400px;
    margin: 0 auto;
}

/* .contact-form {
    display: flex;
    margin-bottom: 1%;
} */

.contact input,
textarea {
    color: blanchedalmond;
    background-color: rgb(37, 34, 34);
    border: 1px;
    border-style: solid;
    border-color: rgb(37, 34, 34);
}

.contact-input {
    width: 100%;
}

.contact-textarea {
    width: 100%;
    height: 100px;
}